<h5 class="p-3 m-0 bg-light border-bottom">Menu</h5>
<nav>
	<div class="list-group list-group-flush bg-light border-bottom">

		<!-- api selection -->
		<a class="list-group-item list-group-item-action" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="'/'">Home</a>

		<!-- list of api -->
		<a *ngFor="let api of getListOfApi() | keyvalue" [routerLink]="'/api/'+api.key" routerLinkActive="active" class="list-group-item list-group-item-action pl-5 py-2">{{api.value}}</a>

	</div>
</nav>

<h5 class="p-3 m-0 bg-light border-bottom">Settings / Options</h5>
<div class="list-group list-group-flush">
	<a class="list-group-item list-group-item-action" [routerLink]="'/cache'">Manage cache</a>
</div>

<br />