<div *ngIf="show">
	<h3 class="text-center border-top pt-3">Relatives</h3>
	<div class="row justify-content-center text-center mb-5">
		<div class="col-3" *ngIf="item.properties.spouse.value">
			<b>Spouse</b>
			<app-item-blob [itemBlob]="item.properties.spouse.value"></app-item-blob>
		</div>
		<div class="col-3" *ngIf="item.properties.father.value">
			<b>Father</b>
			<app-item-blob [itemBlob]="item.properties.father.value"></app-item-blob>
		</div>
		<div class="col-3" *ngIf="item.properties.mother.value">
			<b>Mother</b>
			<app-item-blob [itemBlob]="item.properties.mother.value"></app-item-blob>
		</div>
	</div>
</div>