<a *ngIf="linkOnly && ready" [routerLink]="getRoute()">{{model ? model.name : route}}</a>

<div *ngIf="!linkOnly" class="sw-item">
	<div class="card justify-content-center text-center card-item">

		<!-- header loading -->
		<div class="card-header" *ngIf="!ready">Loading...</div>

		<!-- header ready -->
		<div class="card-header" *ngIf="ready">
			<p class="m-0" *ngIf="model" title="{{model.name}}" style="overflow:hidden;text-overflow: ellipsis;white-space: nowrap; max-width: 100%;">{{model.name|titlecase}}</p>
			<p class="m-0" *ngIf="!model">?</p>
		</div>

		<!-- body loading -->
		<div class="card-body" *ngIf="!ready">
			<div class="text-center bg-container bg-loading bg-bounce"></div>
		</div>

		<!-- body ready -->
		<div class="card-body" *ngIf="ready">

			<!-- no data -->
			<p *ngIf="!model">Item unavailable.</p>

			<!-- data -->
			<div *ngIf="model">

				<!-- resource image if no image set -->
				<div *ngIf="!itemBlob.image && !model.image" class="bg-container bg-item bg-resource-{{model.resource}}"></div>

				<!-- item image -->
				<img *ngIf="itemBlob.image || model.image" alt="{{model.name}}" src="{{itemBlob.image || model.image}}" class="rounded border border card-item--image" />
			</div>
		</div>

		<!-- footer -->
		<div class="card-footer">
			<a href="#" [routerLink]="getRoute()" class="card-link">View details</a>
		</div>
	</div>
</div>