/******************************************************************************
	Star Wars font for h1 headers.
*/
	
	@font-face {
	font-family: 'distant_galaxyregular';
	src: url('DISTGRG_-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

// The api class is applied to the application 
// container when the service is selected.
.api--swapi {

	background-color: #112;
	
	h1 {
		font-family: 'distant_galaxyregular';
	}
	
	// resources background images
	.bg-resource-films {	background-image: url('movie.png');}
	.bg-resource-people {	background-image: url('group.png');}
	.bg-resource-planets {	background-image: url('universe.png');}
	.bg-resource-species {	background-image: url('alien.png');}
	.bg-resource-starships {	background-image: url('rocket.png');}
	.bg-resource-vehicles {	background-image: url('suv-car.png');}

	
}

@function generate_box_shadows($n) {
	$value: '#{random(2000)}px #{random(2000)}px #FFF';
	@for $i from 2 through $n {
		$value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
	}
    @return unquote($value)
}

$star-small: generate_box_shadows(400);
$star-medium: generate_box_shadows(100);
$star-big: generate_box_shadows(30);

@keyframes starAnimation {
	from {transform: translateY(0)}
	to {transform: translateY(-2000px);}
}

@media all and (min-width: 768px) {

	.api--swapi {
	#stars-layer-1 {
		box-shadow: $star-small;
		width: 1px;
		height: 1px;
		background: transparent;
		position: fixed;
		animation: starAnimation 150s linear infinite;

		&:after {
			content: ' ';
			top: 2000px;
			box-shadow: $star-small;
			width: 1px;
			height: 1px;
			background: transparent;
			position: fixed;
			
		}
	}
	#stars-layer-2 {
		box-shadow: $star-medium;
		width: 2px;
		height: 2px;
		background: transparent;
		position: fixed;
		animation: starAnimation 100s linear infinite;

		&:after {
			content: ' ';
			top: 2000px;
			box-shadow: $star-medium;
			width: 2px;
			height: 2px;
			background: transparent;
			position: fixed;
		}
	}
	#stars-layer-3 {
		content: ' ';
		box-shadow: $star-big;
		width: 3px;
		height: 3px;
		background: transparent;
		position: fixed;
		animation: starAnimation 50s linear infinite;

		&:after {
			content: ' ';
			top: 2000px;
			box-shadow: $star-big;
			width: 3px;
			height: 3px;
			background: transparent;
			position: fixed;
		}
	}
}
}
