<div *ngIf="!isApiSet()">
	<div class="alert alert-info">Select an Api.</div>

	<div class="row mb-4">
		<div class="col">
			<div class="card text-center">
				<div class="card-header">Swapi</div>
				<div class="card-body">
					<p>Star Wars Api</p>
					<p class="alert alert-danger">The Api is down. Load cache sample from the cache management page to browse some resources.</p>
					<a class="btn btn-primary" [routerLink]="'/api/swapi/'">Browse</a>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card text-center">
				<div class="card-header">Iafapi</div>
				<div class="card-body">
					<p>Games of Thrones Api</p>
					<p class="alert alert-info">Up and running!</p>
					<a class="btn btn-primary" [routerLink]="'/api/iafapi/'">Browse</a>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card text-center">
				<div class="card-header">Cocktail DB</div>
				<div class="card-body">
					<p>All the cocktails receipes.</p>
					<p class="alert alert-info">Up and running!</p>
					<a class="btn btn-primary" [routerLink]="'/api/cocktailsapi/'">Browse</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="card text-center">
				<div class="card-header">PokéApi</div>
				<div class="card-body">
					<p>The RESTful Pokémon API</p>
					<p class="alert alert-warning">Work in progress.</p>
					<a class="btn btn-primary" [routerLink]="'/api/pokeapi/'">Browse</a>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card text-center">
				<div class="card-header">News Api</div>
				<div class="card-body">
					<p>Search for news articles.</p>
					<p class="alert alert-warning">Work in progress.</p>
					<a class="btn btn-primary" [routerLink]="'/api/newsapi/'">Browse</a>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card text-center">
				<div class="card-header">More coming...</div>
				<div class="card-body">
					<p class="alert alert-info">This is not the end.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div *ngIf="isApiSet()" [ngClass]="{'hide': !isRootRoute()}">

	<div *ngIf="isRootRoute()" class="text-center">
		<p class="h1">{{data.getApiMeta('name')}}</p>
		<p class="h2">{{data.getApiMeta('description')}}</p>
		<a href="{{data.getApiMeta('website')}}">{{data.getApiMeta('website')}}</a>
		<br />
		<br />
		<a class="btn btn-primary btn-lg" [routerLink]="'resources'">Browse Resources</a>
	</div>

	<router-outlet></router-outlet>
</div>