<!-- error -->
<div *ngIf="error">
	<p class="alert alert-danger text-center">
		<b>{{error.name}} {{error.status}}</b><br>{{error.message}}
	</p>
</div>

<!-- breadcrumbs -->
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a [routerLink]="getApiRoute()">{{api}}</a></li>
		<li class="breadcrumb-item"><a [routerLink]="getResourcesRoute()">resources</a></li>
		<li class="breadcrumb-item"><a [routerLink]="getResourceRoute()">{{resource}}</a></li>
		<li class="breadcrumb-item" aria-current="page">{{model ? model.name : 'item_' + id}}</li>
	</ol>
</nav>

<!-- page title -->
<h1 class="text-center mb-4">{{model ? model.name : 'item_' + id}}</h1>

<!-- loading -->
<div *ngIf="!ready" class="text-center my-5">
	<p>Loading item...</p>
	<div class="bg-container bg-loading bg-bounce"></div>
</div>

<!-- no data -->
<div *ngIf="ready && !model" class="text-center my-5">
	<p class="alert alert-warning">Item unavailable.</p>
</div>

<!-- data -->
<div *ngIf="ready && model">

	<div *ngIf="!model.image" class="bg-container bg-item bg-resource-{{resource}} my-4"></div>
	<div *ngIf="model.image" class="wrapper-300">
		<img alt="{{model.name}}" class="rounded mx-auto my-4 d-block w-100" src="{{model.image}}" />
	</div>

	<!-- custom component -->
	<ng-template #customContent></ng-template>

	<!-- properties -->
	<h3 class="text-center mb-3 pt-3 border-top">Information</h3>
	<div class="row mb-5">
		<div class="col-3" *ngFor="let prop of model.properties | keyvalue: originalOrder">
			<dl [ngSwitch]="prop.value.format">
				<dt>{{prop.value.title}}</dt>
				<dd *ngSwitchCase="'resource'">
					<app-item-blob linkOnly="true" [itemBlob]="prop.value.value"></app-item-blob>
				</dd>
				<dd *ngSwitchCase="'date'">{{prop.value.value | date}}</dd>
				<dd *ngSwitchCase="'link'"><a href="{{prop.value.value}}" target="_blank">{{prop.value.value}}</a></dd>
				<dd *ngSwitchDefault>{{prop.value.value || '-'}}</dd>
			</dl>
		</div>
	</div>

	<!-- related resources -->
	<app-item-list *ngFor="let item of model.resources | keyvalue" [title]="item.value.title" [items]="item.value.items" [pagination]="5"></app-item-list>

</div>