// The api class is applied to the application 
// container when the service is selected.
.api--iafapi {

	background-color: lightskyblue;
	
	// resources background images
	.bg-resource-characters { background-image: url('monarchy.png'); }
	.bg-resource-books { background-image: url('open-book.png'); }
	.bg-resource-houses { background-image: url('armor.png'); }
}