
.menu-toggle {
	display: block;
	position: relative;
	cursor: pointer;
	height: 2rem;
	width: 2rem;

	&--bar {
		position: absolute;
		top:10%;
		left:0;
		width:100%;
		height: 10%;
		background-color: #000;
	
		&:nth-child(1) {
			top: 10%;
			transition: transform .1s linear, top .1s linear;
		}

		&:nth-child(2) {
			top: 44%;
			transition: transform .1s linear, top .1s linear;
		}

		&:nth-child(3) {
			top: 80%;
			transition: opacity .1s linear;
		}
	}

	&.toggled {
		.menu-toggle--bar:nth-child(1){
			top: 50%;
			transform: rotateZ(45deg);
		}
		.menu-toggle--bar:nth-child(2){
			top: 50%;
    		transform: rotateZ(-45deg);
		}
		.menu-toggle--bar:nth-child(3){
			opacity: 0;
		}
	}
}
