<!-- error -->
<div *ngIf="error">
	<p class="alert alert-danger text-center">
		<b>{{error.name}} {{error.status}}</b><br>{{error.message}}
	</p>
</div>

<!-- breadcrumbs -->
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a [routerLink]="getApiRoute()">{{api}}</a></li>
		<li class="breadcrumb-item active" aria-current="">Search: {{term}}</li>
	</ol>
</nav>

<!-- page main header -->
<h1 class="text-center">Search</h1>
<h3 *ngIf="term" class="text-center mb-4">you searched for <b>{{term}}</b></h3>
<h3 *ngIf="!term" class="text-center mb-4">use the search bar below</h3>

<!-- search bar -->
<div class="wrapper-300">
	<app-search-bar></app-search-bar>
</div>

<!-- searching -->
<div *ngIf="!ready" class="text-center my-5">
	<p>Searching...</p>
	<span class="oi oi-data-transfer-download spin"></span>
</div>

<!-- no results -->
<p *ngIf="term && ready && !results" class="text-center my-5">No results.</p>

<!-- display results by resources -->
<div *ngIf="term && ready && results" class="my-5">
	<app-item-list *ngFor="let resource of results" [items]="resource.results" [title]="resource.name + ' (' + resource.count + ')'" [pagination]="5"></app-item-list>
</div>