<div class="app-bg" [ngClass]="apiCss">
	<div id="stars-layer-1"></div>
	<div id="stars-layer-2"></div>
	<div id="stars-layer-3"></div>

	<div class="container app-container p-0 border border-dark bg-light">

		<header class="app-header bg-light border-bottom p-4" *ngIf="auth.isAuthenticated()">

			<!-- username -->
			<span class="app-header--user">Welcome, <b>{{this.auth.username}}</b>! <i><a href="#" class="app-header--logout" (click)='auth.logout()'>Logout</a></i></span>

			<!-- menu toggle -->
			<div class="app-header--menu-toggle">
				<div class="menu-toggle" [ngClass]="{'toggled': menuOpen}" (click)="menuOpen = !menuOpen">
					<span class="menu-toggle--bar"></span>
					<span class="menu-toggle--bar"></span>
					<span class="menu-toggle--bar"></span>
				</div>
			</div>

			<!-- search bar -->
			<app-search-bar class="app-header--search-bar"></app-search-bar>

		</header>

		<div class="app-body">
			<div class="app-body--content bg-white p-4">
				<router-outlet></router-outlet>
			</div>

			<aside class="app-body--menu bg-light border-right" [ngClass]="{'toggled': menuOpen}">
				<app-side-menu></app-side-menu>
			</aside>
		</div>

		<footer class="app-footer bg-light border-top py-3">
			<p class="text-center m-0">Api browser<br />April 2020</p>
		</footer>

	</div>

</div>