<p>Opening Crawl (<a href="#" (click)="playCrawl=!playCrawl">{{playCrawl ? 'stop' : 'play'}}</a>)</p>
<div class="animate" [ngClass]="{'crawl': playCrawl}">
	<div [ngClass]="{'crawl--content': playCrawl}">
		<p *ngFor="let p of crawl">{{p}}</p>
	</div>
</div>