<!-- error -->
<div *ngIf="error">
	<p class="alert alert-danger text-center">
		<b>{{error.name}} {{error.status}}</b><br>{{error.message}}
	</p>
</div>

<!-- breadcrumbs -->
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a [routerLink]="getApiRoute()">{{api}}</a></li>
		<li class="breadcrumb-item"><a [routerLink]="getResourcesRoute()">resources</a></li>
	</ol>
</nav>

<!-- page header -->
<h1 class="text-center">Resources</h1>
<div class="bg-container bg-resource mb-5"></div>

<!-- loading -->
<div *ngIf="!ready" class="text-center my-5">
	<p>Loading resource...</p>
	<div class="bg-container bg-loading bg-bounce"></div>
</div>

<!-- no data -->
<div *ngIf="ready && !model">
	<p class="alert alert-warning text-center">Resources unavailable.</p>
</div>

<!-- data -->
<div *ngIf="ready && model">

	<!-- list of available resources -->
	<div class="row">
		<div class="col-12 col-sm-6 col-md-4 pb-4" *ngFor='let resource of model'>

			<!-- resource card -->
			<div class="card text-center card-item">
				<div class="card-header">{{resource.name}}</div>
				<div class="card-body">
					<div class="bg-container bg-resource bg-resource-{{resource.route}}"></div>
				</div>
				<div class="card-footer">

					<!-- link to this resource page -->
					<a href="#" [routerLink]="getResourceRoute(resource.route)" class="card-link">browse all {{resource.name}}</a>
				</div>
			</div>
		</div>
	</div>

</div>