// The api class is applied to the application 
// container when the service is selected.
.api--pokeapi {

	background-color: lightcoral;
	
	// resources background images
	.bg-resource {background-image: url('pokeball.png');}
	
	.bg-resource-ability { background-image: url('revolution.png'); }
	.bg-resource-berry { background-image: url('berries.png'); }
	.bg-resource-pokemon { background-image: url('pika.png'); }

}