<!-- error -->
<div *ngIf="error">
	<p class="alert alert-danger text-center">
		<b>{{error.name}} {{error.status}}</b><br>{{error.message}}
	</p>
</div>

<!-- breadcrumbs -->
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a [routerLink]="getApiRoute()">{{api}}</a></li>
		<li class="breadcrumb-item"><a [routerLink]="getResourcesRoute()">resources</a></li>
		<li class="breadcrumb-item"><a [routerLink]="getResourceRoute()">{{resource}}</a></li>
		<li class="breadcrumb-item" aria-current="page">page {{page}}</li>
	</ol>
</nav>

<!-- page title -->
<h1 class="text-center">{{resource|titlecase}}</h1>

<!-- loading -->
<div *ngIf="!ready" class="text-center my-5">
	<p>Loading resource...</p>
	<div class="bg-container bg-loading bg-bounce"></div>
</div>

<!-- no data -->
<div *ngIf="ready && !model" class="text-center my-5">
	<p class="alert alert-warning">Resource unavailable.</p>
</div>

<!-- data -->
<div *ngIf="ready && model">

	<!-- page pagination -->
	<nav *ngIf="model.last > 1" aria-label="resource pagination" class="mb-4">
		<p class="text-center">{{getVerbosePagination()}}</p>
		<ul class="pagination justify-content-center">
			<li class="page-item page-previous" [ngClass]="{'disabled': model.page === 1}">
				<a class="page-link" [routerLink]="getFirstPageRoute()">&laquo; first</a>
			</li>
			<li class="page-item page-previous" [ngClass]="{'disabled': !model.previous}">
				<a class="page-link" [routerLink]="getPrevPageRoute()">&lt; prev</a>
			</li>
			<li class="page-item disabled">
				<a class="page-link">page {{model.page}} / {{model.last}}</a>
			</li>
			<li class="page-item page-next" [ngClass]="{'disabled': !model.next}">
				<a class="page-link" [routerLink]="getNextPageRoute()">next &gt;</a>
			</li>
			<li class="page-item page-next" [ngClass]="{'disabled': model.page === model.last}">
				<a class="page-link" [routerLink]="getLastPageRoute()">last &raquo;</a>
			</li>
		</ul>
	</nav>

	<!-- list of items -->
	<app-item-list [items]="model.results" [pagination]="10" [showVerbose]="false"></app-item-list>

</div>