<div *ngFor="let api of listOfApi" class="mb-5">
	<h4>{{api}}</h4>
	<button type="button" class="btn btn-primary" (click)="cache.downloadApiCache(api)">download</button>&nbsp;
	<button type="button" class="btn btn-primary" (click)="loadApiCache(api)">load</button>&nbsp;
	<button type="button" class="btn btn-danger" (click)="clearApiCache(api)">clear</button>&nbsp;

	<ng-template let-urls="urls" [ngTemplateOutletContext]="{ urls: cache.getApiCache(api) }" [ngTemplateOutlet]="self" #self>
		<h5 class="mt-3">{{urls.length ? urls.length : 'No'}} cached entries</h5>
		<div *ngIf="urls.length" class="border mb-3" style="max-height: 200px;overflow: auto">
			<ul>
				<li *ngFor="let url of urls">
					{{url}}
				</li>
			</ul>
		</div>
	</ng-template>
</div>