/******************************************************************************
	Apply a background image to illustrate a specific resource.
*/

.card-item, .card-resource {

	.card-body {
		text-align: center;
		display:block;
		overflow: hidden;
		height: 6.5rem;
	}

	&--image {
		height: 4rem;
		max-width: 100%;
		max-height: 100%;
	}
	
}

.bg-container {
	min-height: 4rem;
	background-color: transparent;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center 0;
}
.bg-resource {background-image: url('assets/images/cubes3d.png');}
.bg-item {background-image: url('assets/images/cube3d.png');}
.bg-loading { background-image: url('assets/images/download.png'); }
.bg-bounce { animation: bgBounce .5s ease-in-out infinite; }

@keyframes bgBounce {
	from {background-position-y: 0;}
	50% {background-position-y: 10px;}
	to {background-position-y: 0;}
}



/******************************************************************************
	Application structure
*/

.app-bg {
	min-height: 100vh;

	&-swapi {
		background-color: #000;
	}

	&-iafapi {
		background-color: #eef;                            
	}
}

.app-container {
	position: relative;
	overflow: hidden;
}

.app-header {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
	&--menu-toggle {
		align-self: center;
		margin-right: 2rem;
	}
	
	&--user {
		flex-grow: 1;
		flex-basis: 100%;
		text-align: center;
		align-self: center;
		font-size: 130%;
		margin-bottom: 1rem;
	}
	
	&--search-bar {
		align-self: center;
		flex-grow: 1;
	}
}

.search-bar {

	&--form {
		position: relative;
	}
	
 	&--input {
		width: 100%;
	}
		
	&--button {
		position: absolute;
		right:0;
		top:0;
	}
}

.app-body {
	position: relative;
	display: flex;
		
	&--content {
		order: 2;
		flex-grow: 1;
		width: 100%;
	}

	&--menu {
		z-index: 999;
		order: 1;
		flex-basis: 100%;
		margin-left: -100%;
		transition: all .2s ease-in;
	
		&.toggled {
			display: block;
			transform: translateX(100%);
		}
	}
}

// Overide some behaviour of the bootstrap 'container' class for
// small screens.
@media all and (max-width: 767px) {
	.app-container {
		max-width: 100%;
		margin: 0;
	}
}

// Overide the behaviour of the side menu for bigger screen.
// The menu is not full width anymore, only 300px.
@media all and (min-width: 576px) {
	.app-body--menu {
		flex-basis: 300px;
		margin-left: -300px;
		
		&.toggled {
			display: block;
			transform: translateX(300px);
		}
	}
}


// Overide for bigger screen. Add some margin around the app and
// re-arrange header components.
@media all and (min-width: 768px){

	.app-bg {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	.app-header {
		&--menu-toggle {
			order: 1;
		}

		&--user {
			text-align: left;
			order: 2;
			flex-grow: 1;
			flex-basis: 0;
			margin-bottom: 0;
		}

		&--search-bar {
			order: 3;
			flex-grow: 0;
		}
	}
}

/**************************************************************************************************
	item list
*/
// 2 columns layout
.item-grid {
	display: grid;
	grid-template-columns: repeat(2, 48%);
	grid-column-gap: 2%;
	grid-row-gap: 1rem;
	margin: 0;
	padding: 0;
	
	&--item {
		list-style-type: none;

		&:hover {
			transform: scale(1.02);
		}
	}
}

// 4 columns on medium screens
@media all and (min-width: 768px){
	.item-grid {
		grid-template-columns: repeat(4, 24%);
		grid-column-gap: 1.33%;
	}
}

// 5 columns on large screens
@media all and (min-width: 992px){
	.item-grid {
		grid-template-columns: repeat(5, 19%);
		grid-column-gap: 1.25%;
	}
}

/******************************************************************************
	Custom content wrapper.
*/
.wrapper-300 {
	max-width:300px;
	margin:auto;
}


/******************************************************************************
	Override bootstrap card header.
*/
.card .card-header {
	font-variant: small-caps;
	font-weight: bold;
}
