<h3 class="text-center mb-3 pt-3 border-top" *ngIf="title">{{title}}</h3>

<p *ngIf="showVerbose" class="text-center">{{getVerbose()}}</p>

<!-- item pagination -->
<nav *ngIf="showPagination" aria-label="Search result page" class="mb-4">
	<ul class="pagination justify-content-center">
		<li class="page-item" [ngClass]="{'disabled':page===1}">
			<button class="page-link" (click)="firstPage()">&laquo; first</button>
		</li>
		<li class="page-item page-previous" [ngClass]="{'disabled':page===1}">
			<button class="page-link" (click)="previousPage()">&lt; prev</button>
		</li>
		<li class="page-item disabled">
			<button class="page-link">{{page}}/{{maxPage}}</button>
		</li>
		<li class="page-item page-next" [ngClass]="{'disabled':page===maxPage}">
			<button class="page-link" (click)="nextPage()">next &gt;</button>
		</li>
		<li class="page-item" [ngClass]="{'disabled':page===maxPage}">
			<button class="page-link" (click)="lastPage()">last &raquo;</button>
		</li>
	</ul>
</nav>

<!-- list of items -->
<ul class="item-grid mb-5">
	<li class="item-grid--item" *ngFor="let item of getItems()">
		<app-item-blob [itemBlob]="item"></app-item-blob>
	</li>
</ul>